@page "/blog/recent"
@using GitHubPagesExample.Services;

<PageTitle>Recent Posts</PageTitle>

Blog home

<div>
    Recent Posts
    @foreach(var recentPost in _blogPostPages)
    {
        <div>Hello - @recentPost.Name
            <br />
            @recentPost.GetType()
        </div>
    }
</div>

@code 
{
    [Inject]
    private IArticleHelper _articleHelper { get; set; } = default!;

    private IEnumerable<Article> _blogPostPages = Enumerable.Empty<Article>();

    protected override void OnInitialized()
    {
        _blogPostPages = _articleHelper.GetRecentArticles();
    }
}