@page "/resources"

<PageTitle>Resources</PageTitle>

<h1>Resources</h1>

<ArticleBoard Articles="@_articles" />

@code {
    [Inject]
    private IArticleHelper _articleHelper { get; set; } = default!;

    private IEnumerable<ResourceArticle> _articles = Enumerable.Empty<ResourceArticle>();

    protected override void OnInitialized()
    {
        _articles = _articleHelper.GetArticles<ResourceArticle>();
    }
}
